body {
    margin: 0px;
}
button {
cursor: pointer;
}
a {
cursor: pointer;
text-decoration: unset;
}

.login_layout {
    width: 100%;
    background-color: #f7fafc;
    padding: 38px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_layout {
    display: flex;
    flex-direction: column;
    width: 575px;
    margin: auto;
}
.logo_header {
    width: 100%;
    display: flex;
    justify-content: center;
}
.login_logo {
    width: 296px;
    height: 45px;
    display: block;
    margin-bottom: 30px;
}
.login_logo img {
    width: 100%;
    height: 100%;
    display: block;
}
.signup_div {
    padding: 40px 46px;
    background: #ffffff;
    box-shadow: 0px 10px 38px rgba(209, 216, 230, 0.28);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
	box-sizing: border-box;
}
.head_logo {
    width: 360px;
    height: 193px;
    display: block;
}
.head_logo img {
    width: 100%;
    height: 100%;
    display: block;
}
.signup_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
}
.sign_in_text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #040C22;
    margin-bottom: 3px;
}
.create_account_text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #666666;
}
.create_account_text a {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #0071d1;
    text-decoration: unset;
}
.signin_text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #666666;
    margin-top: 7px;
}
.all_input_fiald {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 27px;
}
.text_box {
    background: #f3f4f6;
    border-radius: 6px;
    border: unset;
    width: 100%;
    padding: 22px 40px 22px 15px;
    margin-bottom: 20px;
	box-sizing: border-box;
	outline-color: #0071d1;
}
.password_fiald {
    position: relative;
    width: 100%;
}
.password_icon {
    position: absolute;
    right: 15px;
    top: 20px;
}
.forgot_link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 28px;
    margin-top: -8px;
}
.forgot_link a {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #0089F2;
	text-decoration: unset;
}
.create_account {
    background: #0071d1;
    border-radius: 4px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #ffffff;
    height: 64px;
    width: 100%;
    border: unset;
    display: flex;
    align-items: center;
    justify-content: center;
	outline: unset;
	text-decoration: unset;
	border: 1px solid #0071d1;
}
.create_account:hover {
    background: #ffffff;
    color: #0071d1;
}
.connect_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 26px 0;
}
.connect_text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    font-feature-settings: "case" on;
    color: #666666;
}
.login_with {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.google_with {
    width: 228px;
    height: 64px;
    border: 1px solid #d0d7dd;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #000000;
	display: flex;
    align-items: center;
    justify-content: center;
	outline: unset;
	    background: #FFFFFF;
    
}
.google_with img {
        margin-right: 5px;
    }
.connect_text a {
    margin-left: 6px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.05em;
    font-feature-settings: "case" on;
    color: #0072d2;
}
.hr {
    border: 1px solid #d0d7dd;
    width: 100%;
}
.link_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 21px 0 0;
}
.quite_ready_text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    font-feature-settings: "case" on;
    color: #000000;
    margin-bottom: 10px;
}
.programs_text {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    font-feature-settings: "case" on;
    color: #0072d2;
}
	.icon_but {
	display: contents;
	}
@media only screen and (min-width: 320px) and (max-width: 960px) {
	.signup_div {
        padding: 30px;
    }
    .main_layout {
        width: 100%;
    }
    .google_with {
        width: 48%;
    }
	
}

.inner_layout {
    display: flex;
    flex-direction: column;
    background: #f8f9fa;
    box-shadow: 0px 10px 38px rgba(209, 216, 230, 0.38);
}

.footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}
.footer a {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #0072d2;
}
.copy_div {
    display: flex;
    align-items: center;
    line-height: 19px;
}
.copy_text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #9ca0a4 !important;
    margin-left: 3px;
}
.copy_text:hover {
    color: #0072d2 !important;
}
@media only screen and (min-width: 320px) and (max-width: 560px) {

	.signup_div {
        padding: 20px;
    }
    .login_with {
        flex-direction: column;
    }
    .google_with:first-child {
        margin-bottom: 10px;
    }
    .google_with {
        width: 100%;
    }
    .f1 {
        display: none !important;
    }
    .f2 {
        display: flex !important;
    }
    .f2_inner {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        display: flex;
        width: 95%;
    }

    .footer {
        flex-direction: column;
    }
    .footer.copy_div,
    .footer a {
        line-height: 26px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.head_logo {
    width: 300px;
    height: 160px;
    display: block;
}
.login_logo {
    width: 230px;
    height: 35px;
    display: block;
    margin-bottom: 30px;
}
    .signup_div {
        padding: 16px;
    }
    .signup_logo {
        width: 200px;
        height: 30px;
        display: block;
    }
    .copy_text {
        font-size: 14px;
    }
    .footer.copy_div,
    .footer a {
        font-size: 14px;
    }
    .footer {
        margin: 10px 0;
    }
}
.f1 {
    display: flex;
}
.f2 {
    display: none;
}